<config>
  <adanna>
    <task_check_interval>1</task_check_interval>
    <task_time_span>5</task_time_span>
    <adanna_agent_folder>Agents</adanna_agent_folder>
    <task_run_user>nathanl</task_run_user>
    <task_run_password>ebjvtlqt</task_run_password>
  </adanna>
  <database>
    <db_user_name>qarobot</db_user_name>
    <db_host_name>localhost</db_host_name>
    <db_database_name>qastats</db_database_name>
    <db_user_password>qarobot</db_user_password>
  </database>
</config>
