<config>
  <scheduler_database>
    <db_user_name>qarobot</db_user_name>
    <db_host_name>localhost</db_host_name>
    <db_database_name>qastats</db_database_name>
    <db_user_password>vehix</db_user_password>
  </scheduler_database>
  <file_location>
    <host_name>localhost</host_name>
    <storage_medium>database</storage_medium>
    <database_name>qastats</database_name>
    <user_password>vehix</user_password>
    <user_name>qarobot</user_name>
  </file_location>
  <adanna>
    <task_run_password>v3h1x</task_run_password>
    <task_check_interval>60</task_check_interval>
    <update_interval>1440</update_interval>
    <task_time_span>300</task_time_span>
    <task_run_user>qarobot</task_run_user>
    <adanna_agent_folder>Agents</adanna_agent_folder>
  </adanna>
  <results_database>
    <db_user_name>qarobot</db_user_name>
    <db_host_name>localhost</db_host_name>
    <db_database_name>qastats</db_database_name>
    <db_user_password>vehix</db_user_password>
  </results_database>
</config>
